{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}
{{#partial "content"}}
    <br>
    <br>
    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ranger's Name</th>
            <th scope="col">Location</th>
            <th scope="col">Animal Name</th>
            <th scope="col">Animal Age</th>
            <th scope="col">Animal Health</th>
            <th scope="col">Animal Species</th>
            <th scope="col">Time of sighting</th>
        </tr>
        </thead>
        <tbody>


        {{#each sightings}}
            <tr>
                <!--Ranger's Name-->
                <td>{{name}}</td>

                <!--Location of Sighting-->
                <td>{{location}}</td>

                <!--Animal's Name-->

                <td>{{animal.name}}</td>

                <!--Animal's Age-->
                <td>{{animal.age}}</td>

                <!--Animal's Health-->
                <td>{{animal.health}}</td>

                <!--Animal's Species-->
                <td>{{animal.type}}</td>
                <td>{{timestamp}}</td>
            </tr>
        {{/each}}






        </tbody>
    </table>
{{/partial}}
{{> layout.hbs}}